.introduction {
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: black;
}
body{
  background-image: url("../images/akan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cardHeading {
  text-align: center;
  font-weight: bold;
}
.label{
  font-size: 19;
color: black;

}
.card-body{
  float:center;
  width: 80px;
}
